
<div style="max-width: 600px; margin: 0 auto; padding: 10% 15px;">
	<div class="panel panel-default no-margin-bottom">
		<div class="panel-body">
			<a class="btn btn-primary" href="<%- root %>/login"><i class="fa fa-lock"></i>Login</a>
		</div>
	</div>
</div>
